html{
	scroll-behavior: smooth;
}
h2,h3{
	color: #f7f8d6;
	background-color: #999237;
	padding: 20px;
	margin-bottom: 0px;
}

p{
	font-size: large;
	font-family: sans-serif;
	margin: 10px;
}
body,aside{ 
	background-color: #f7f8d6;
	font-family: sans-serif; 
	margin: 0px;
	padding: 0px;
}
nav a:hover{
	font-weight: bold;
}
ul{
	text-align: right;
}
nav li{
	display: inline;
	list-style-type: none;
	margin-right: 25px;
}
nav{
	background-color: #a76a2a;
	padding: 5px;
	position: sticky;
	top: 0;
}
nav a{
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #f7f8d6;
}
.biodata header{
	text-align: center;
}
.biodata img{
	width: 200px;
	border-radius: 10px;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}
.jumbotron{
	font-size: 20px;
	padding: 50px 0px 0px;
	background-color:#a77a39;
	text-align: center;
	color: #f7f8d6;

}
.img-header{
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: all;
}
.img-page{
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}
.card h2,.card ul{
	text-align: center;
}
.box{
	float: left;
	width: 100%;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	border-radius: 1px;
	padding: 20px;
	margin-top: 50px;
}
.pic-box{
	float: left;
	width: 20%;
	height: 20%;
	margin : 10px 10px;
}
footer{
	padding: 15px;
	color: #f7f8d6;
	background-color: #a77a39;
	text-align: center;
	font-weight: bold;
}
main{
	padding: 20px;
	overflow: auto;
}
#Contact td{
	font-style: italic;
	font-weight: bold;
	padding-right: 10px;
}
tr img{
	width: 40px;
}
#manfaat{
	font-size: large;
}
#konten{
	float: left;
	width: 75%;
}
aside{
	float: right;
	width: 24%;
	padding-left: 20px;
}
*{
	box-sizing: border-box;
	font-style: sans-serif;
}
header{
	display: inline;
}
form{
	float: left;
	padding-top: 10px;
	padding-left: 5px;
	width: 500px;
}
.search{
	padding: 8px 15px;
	border: 0px solid  #dbdbdb;

}
.button{
	position: relative;
	padding: 6px 15px;
	left: -8px;
	border: 2px solid #53bd84;
	background-color: #53bd84;
	color: #fafafa;
}
.button:hover{
	background-color: #fafafa;
	color: #207cca;
}
.text-input{
	border: 1px solid;
	background-color: #f7f8d6;
	display: inline-block;
	height: 25px;
}
input[type=text]{
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
	width: 50%;
}
@media screen and (max-width: 1000px){
	#konten,aside,.card{
		width: 100%;
		padding:0;
	}
	p{
		margin: 20px;
	}
	nav a{
		font-size: 20px;
	}
	nav li{
		margin-right: 10px
	}
	.pic-box{
	object-fit: cover;
	width: 98%;
	height: 200px;
	}
}